services:
  app:
    image: ticket-masala
    build:
      context: .
      dockerfile: IT-Project2526/Dockerfile
    ports:
      - "5054:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=TicketMasalaDb;User Id=sa;Password=YourStrong(!)Password;TrustServerCertificate=True;
    depends_on:
      - db
    restart: on-failure

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong(!)Password
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
